* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #14161a; /* Dark background color */
    color: #fff;
}

.header {
    background-color: #0e1013; /* Darker background color */
    border-bottom: 1px solid #282c35;
    padding: 1rem;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: auto;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
}

h1 {
    text-align: center;
    color: #fff; /* White text color */
}

form {
    margin-top: 20px;
    max-width: 400px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fff; /* White text color */
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    width: 100%;
}

.button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

#ajaxContent {
    margin-top: 20px;
}
