body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #14161a; /* Darker background color */
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 0vh; /* Set a minimum height for the viewport */
}

header {
    background-color: #0e1013; /* Darker background color for the header */
    color: #fff;
    text-align: center;
    padding: 1rem;
    width: 100%;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

.button-container input[type="button"],
.button-container button {
    background-color: #3e4d63; /* Darker button background color */
    border: none;
    color: #fff;
    padding: 8px 12px; /* Adjusted padding for a smaller size */
    margin: 5px; /* Adjusted margin */
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button-container input[type="button"]:hover,
.button-container button:hover {
    background-color: #2f3a48; /* Darken the color on hover */
}

.button-container .small-button {
    padding: 5px 8px; /* Adjusted padding for a smaller size */
    margin: 5px; /* Adjusted margin */
}

#ajaxContent {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
